*{
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }

.forms
{
	border: black solid 1px;	
}

.black
{
	color:black;
}

.txtDkGrey
{
	color: darkgrey;
}

.label
{
/* 	30px */
	font-size:25px;
}

.labelTextBox
{
	width: 250px;
	height: 40px;
}


.bgLttGrey
{
	background-color: lightgrey;
}

.bgDkGrey
{
	background-color: darkgrey;
}

.bgDarkDkGrey
{
	background-color: #2e3436;
}

.bgLightBlack
{
	background-color: #1d1c1c;
}

table, th
{
	border: solid 1px darkgrey;
	font-weight: bold;
	font-size: 20px;
	height: 35px;
}

.links
{
	text-decoration: none;
/* 	color: #0054ff; */
	color: #4efbed;
}

.links:hover
{
	color: darkgrey;
}

.taskbar
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px 15px;
	padding: 0px;
	min-height: 75px;
	min-width: 900px;
	border-bottom: 1px solid darkgrey;
	border-top: 1px darkgrey solid;
	
}

.title_bar
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px darkgrey solid;
	border-top: 1px darkgrey solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 15px;
	height: 90px;
}

.taskbarBtns
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	margin-right: 15px;
}

table, td
{
	font-size: 15px;
	text-align: center;
	height: 35px;
}

table
{
	width: 100%;
}

.myContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 15px;
}

.bold
{
	font-weight: bolder;
}


.commentbox
{
    border: 1px black solid;
    height: 200px;
    width: 400px;
    min-width: 275px;
    min-height: 100px;
    padding: 3px;
    color: black;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;

}

.marginLeft
{
	margin-left: 15px;
}

.txtLeft
{
	text-align: left;
}


.txtDecoration
{
	text-decoration: none;
}


.btns
{
	background-color: lightgrey;
	color: black;
	text-decoration: none;
	padding: 6px 12px;
	border: solid black 1px;
	border-radius: 16px;
}

.btns:hover
{
	background-color: gray;
}

.overFlowScroll
{
	overflow: hidden;
    overflow-y: scroll;
}

.blue
{
	color: blue;
}

.txt-underline
{
	text-decoration: underline;
}

.min-h200
{
	min-height: 200px;
}

.min-h500
{
	min-height: 500px;
}

.min-h90
{
	min-height: 90%;
}

.max-h
{
	max-height: 25%;
}

.font-size
{
	font-size: 2rem;
}

.title
{
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 20px;
}

.min-h150
{
	min-height: 150px;
}

.width90
{
	width: 90%;
}

.center
{
	align-items: middle;
}

.color-gr
{
	color: #3bd167;
}

.color-bl
{
	color: #139bc2;
}


.text-size
{
	font-size: 1rem;
}

.txtCenter
{
	text-align: center;
}

.borderBlack
{
	border: black 3px solid;
}

.myPadding
{
	padding: 5px;
	height: 25px;
}

.marginBottom
{
	margin-bottom: 20px;
}

.package
{
	width: 100%;
/*     padding-right: var(--bs-gutter-x,.75rem); */
/*     padding-left: var(--bs-gutter-x,.75rem); */
/*     margin-right: auto; */
/*     margin-left: auto; */
    min-height: 600px;
    min-width: 400px;
    height: 100vh;
    width: 100%;
    border: 1px darkgrey solid;
    color: lightgrey;
    display: flex;
    flex-direction: column;
/*     justify-content: top; */
    
}

.colorYellow
{
	color: #e3f909;
}
.width70
{
	width: 70%;
}


.width30
{
	width: 30%;
}

.width35
{
	width:35%;
}

.width65
{
	width: 65%
}

.width50
{
	width:50%;
}

.txt_grad
{
	animation: txt_color 10s ease-in-out infinite;
/* 	position: relative; */
}

.border_bottom
{
	border-bottom: 1px darkgrey solid;
}

.border_top
{
	border-top: 1px darkgrey solid;
}

.myBorder
{
	border: 1px darkgrey solid;
}



@keyframes txt_color 
{
	0%
	{
/* 		background-color: black; */
		color: yellow;
	}
	25%
	{
/* 		background-color: darkgrey; */
		color: orange;
	}
	50%
	{
		color: red;
	}
	75%
	{
/* 		background-color: black; */
		color: orange;
	}
	100%
	{
		color: yellow;
	}
}

@keyframes bg_color 
{
	0%
	{
		background-color: black;
	}
	25%
	{
		background-color: darkgrey;
	}
	50%
	{
		background-color: black;
	}
	75%
	{
		background-color: darkgrey;
	}
	100%
	{
		background-color: black;
	}
}

.opacity
{
	opacity: .8;
}


.bg_grad
{
	text-transform: uppercase;
/* 	background-image: linear-gradient(to right, darkgrey, black, darkgrey); */
/* 	background-image: linear-gradient(-45deg, darkgrey, black, darkgrey); */
	animation: bg_color 10s ease-in-out infinite;
/* 	background-clip: text-grad; */
/* 	-wibkit-background-clip: text-grad; */
/* 	-moz-background-clip: text-grad; */
/* 	color: transparent; */
}

.title_grad
{
	background: linear-gradient(to right, darkgrey, black, darkgrey);
}



